/*
  定义变量的格式：  
    1、@变量名称: 值;
  less中使用变量的格式
    1、@变量名称
*/
/*
 将一个变量赋值给另外一个变量
  @变量名称 ： @变量名称
*/
/*
  全局变量：定义在{}外面的就是全局的变量, 什么地方都可以使用
  局部变量：定义在{}里面的就是局部变量, 只能在{}中使用
  注意定: less中的变量是延迟加载的, 写到后面也能在前面使用
*/
/*
  和js一样不同作用域的变量不会相互影响, 只有相同作用域的变量才会相互影响
  和js一样在访问变量时会采用就近原则
*/
.box1 {
  width: 400px;
  height: 400px;
  background: blue;
  margin-bottom: 20px;
}
.box2 {
  width: 400px;
  height: 400px;
  background: red;
}
