.top{
    height: 60px;
    width: 100%;
    background-color: black;
}

.banner{
    height: 860px;
    background-color: green;
}

.content{
    height: 1883px;
    background-color: blue;
}

.footer{
    height: 396px;
    background-color: red;
}


